:root {
  --main-font: 'Montserrat', sans-serif;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --primary-color: #ffa62b;
  --secondary-color: #00a0c1;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 420px) {
  .container {
    width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 10px 36px;
  min-height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 37px;
  background-color: transparent;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .btn:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__item {
  cursor: pointer;
}

.page-header__item:not(:last-child) {
  margin-right: 24px;
}

.nav {
  display: none;
}

.page-header__bottomlist {
  display: none;
}

.page-hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;
}

.page-hero__text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}

.page-hero__item {
  margin-right: auto;
  margin-left: auto;
  max-width: 328px;
  max-height: 210px;
}

.page-hero__item:not(:last-child) {
  margin-bottom: 30px;
}

.page-hero__thumb {
  padding: 33px 40px;
  background-color: coral;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.page-hero__thumb:hover, .page-hero__thumb:focus {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}

.page-hero__thumb:hover .page-hero__icon,
.page-hero__thumb:focus .page-hero__icon {
  fill: var(--light-text-color);
}

.page-hero__thumb:hover .page-hero__desc,
.page-hero__thumb:focus .page-hero__desc {
  color: var(--light-text-color);
}

.page-hero__icon {
  fill: var(--secondary-color);
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-hero__subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
}

.page-hero__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */