.page-contacts {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f3f3f3;
}
.page-contacts__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;
}
.page-contacts__text {
  width: 271px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    width: 470px;
  }
}
.page-contacts__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.page-contacts__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07),
    0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1099px) {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
  @media screen and (min-width: 1100px) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.page-contacts__wrapper {
  max-width: 320px;
  max-height: 333px;

  margin-left: auto;
  margin-right: auto;
  padding: 50px 40px;

  text-align: center;
  background-color: var(--light-text-color);

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--text-color);
    color: var(--light-text-color);
    transform: scale(1.2);
  }

  &:hover .page-contacts__icon,
  &:focus .page-contacts__icon {
    fill: var(--light-text-color);
  }

  &:hover .page-contacts__link,
  &:focus .page-contacts__link {
    color: var(--light-text-color);
  }

  &:hover .page-contacts__btn,
  &:focus .page-contacts__btn {
    color: var(--light-text-color);
    border-color: var(--light-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    width: 230px;
    padding: 50px 12px;
  }
  @media screen and (min-width: 1100px) {
    width: 320px;
  }
}
.page-contacts__icon {
  margin-bottom: 15px;
  fill: var(--secondary-color);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-contacts__adress {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.page-contacts__link {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: var(--text-color);

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    font-weight: 400;
    font-size: 12px;
  }
}
.page-contacts__caption {
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    font-size: 14px;
  }
}
.page-contacts__btn {
  display: inline-block;
  min-width: 160px;
  min-height: 44px;

  padding: 9px 19px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: var(--primary-color);

  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 5px;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
