.page-hero {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url('../images/background-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/background-mobile@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    padding-top: 60px;
    padding-bottom: 0;

    background-color: rgb(243, 243, 243);
  }

  @media screen and (min-width: 1100px) {
    padding-top: 200px;
    padding-bottom: 0;

    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/background@2x.jpg');
    }
  }
}

.page-hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    text-align: left;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1100px) {
    width: 509px;
  }
}
.page-hero__text {
  margin-top: 40px;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    width: 376px;

    margin-top: 20px;
    margin-bottom: 20px;

    text-align: left;
  }
  @media screen and (min-width: 1100px) {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.page-hero__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 50px;
  }
  @media screen and (min-width: 1100px) {
    position: relative;
    top: 20px;
    left: 0px;
    margin-top: 60px;

    @keyframes animate {
      0% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(-250px, -80px);
      }

      100% {
        transform: translate(0, 0);
      }
    }
  }
}
.page-hero__item {
  margin-right: auto;
  margin-left: auto;

  max-width: 328px;
  max-height: 210px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    max-width: 230px;
    margin: 0;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07),
      0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07);

    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  @media screen and (min-width: 1100px) {
    max-width: 329px;
    margin: 0;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07),
      0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07);

    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }

    animation: animate 3000ms infinite;
    animation-iteration-count: 1;
  }
}
.page-hero__thumb {
  padding: 33px 40px;

  background-color: var(--light-text-color);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  //   desctop
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    // desctop
    transform: scale(1.2);
  }

  &:hover .page-hero__icon,
  &:focus .page-hero__icon {
    fill: var(--light-text-color);
  }

  &:hover .page-hero__desc,
  &:focus .page-hero__desc {
    color: var(--light-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    padding: 10px;
    height: 175px;
  }
}
.page-hero__icon {
  fill: var(--secondary-color);

  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero__subtitle {
  width: 238px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    width: 100%;
    font-size: 18px;
  }
}
.page-hero__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
