.page-clients {
  padding-top: 30px;

  background: #fafafa;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}
.page-clients__item {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 60px;
  }
}
.box {
  //   position: relative;
  padding: 30px;
  margin-top: 60px;

  background-color: var(--secondary-color-2);
}
.box__title {
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--light-text-color);
}
.box__field {
  display: flex;
  justify-content: center;
}
.box__input {
  padding-left: 20px;
  margin-right: 5px;

  min-width: 195px;
  min-height: 58px;

  background: #f9f9f9;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
  }

  &:hover,
  &:focus {
    border-color: var(--primary-color);
  }
}
.box__btn {
  //   position: absolute;
  //   right: 0;

  display: inline-block;
  padding: 7px;

  min-width: 90px;
  min-height: 58px;

  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--light-text-color);

  background: var(--primary-color);
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--light-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
