.page-about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.page-about__title {
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.page-about__text {
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
.grid {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.row {
  @media screen and (min-width: 768px) and (max-width: 1099px) {
    margin-right: 50px;
  }
}
.video {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 419px) {
    width: 290px;
  }
  @media screen and (min-width: 420px) and (max-width: 767px) {
    width: 333px;
  }
}
.page-about__bottomtitle {
  margin-top: 72px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;

  @media screen and (min-width: 767px) and (max-width: 1099px) {
    margin-top: 0px;
    font-size: 30px;
  }
}
.page-about__desc {
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  @media screen and (min-width: 767px) and (max-width: 1099px) {
    width: 330px;
  }
}
.content-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.content-list__wrapper {
  display: flex;
}
.content-list__icon {
  margin-right: 20px;
}
.content-list__inner {
  max-width: 286px;
}
.content-list__text {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.content-list__desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
