.page-advice {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
}
.page-advice__title {
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.page-advice__text {
  margin-bottom: 75px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1100px) {
    margin-bottom: 50px;
  }
}
.page-advice__list {
  @media screen and (min-width: 768px) and (max-width: 1099px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -15px;
  }
  @media screen and (min-width: 1100px) {
    display: flex;
    justify-content: center;
  }
}
.page-advice__item {
  position: relative;

  max-width: 230px;
  height: 342px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--light-text-color);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07),
    0px 13px 19px rgba(0, 0, 0, 0.07), 0px 13px 19px rgba(0, 0, 0, 0.07);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1099px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1100px) {
    margin-left: 0;
    margin-right: 0;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.page-advice__thumb {
  padding: 30px;
}
.page-advice__subtitle {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.page-advice__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
.page-advice__img {
  position: absolute;
  bottom: 0;
}
