.page-header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgb(243, 243, 243);
  }
  @media screen and (min-width: 768px) and (max-width: 1099px) {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: rgb(243, 243, 243);
  }
  @media screen and (min-width: 1100px) {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: rgb(243, 243, 243);
  }
}
.header-wrapper {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: var(--text-color);

  z-index: 1;

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    margin-right: 40px;
  }
  @media screen and (min-width: 1100px) {
    margin-right: 117px;
  }
}
.page-header__list {
  display: flex;
  margin-left: auto;

  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.page-header__item {
  &:not(:last-child) {
    margin-right: 24px;
  }
  cursor: pointer;
}
// Кнопка бургер

.page-header__btn {
  padding: 0;
  border: none;
  background-color: transparent;

  & .mobile-menu-close {
    opacity: 0;
  }

  &.is-open .mobile-menu-close {
    opacity: 1;
  }

  &.is-open .mobile-menu-open {
    opacity: 0;
  }
}

// --------------------------------

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 21px;
}
.nav__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}
.page-header__bottomlist {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1100px) {
    display: flex;
    flex-direction: row;
  }
}
.page-header__bottomitem {
  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1100px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.page-header__link {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}
.page-header__svg {
  fill: currentColor;
  margin-right: 5px;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
