.page-about {
  padding-top: 80px;
  padding-bottom: 80px;
}
.page-about__title {
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;
}
.page-about__text {
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
.page-about__bottomtitle {
  margin-top: 72px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
}
