.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-footer__title {
  width: 249px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
}
.page-footer__text {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
.page-footer__btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;

  min-width: 163px;
  min-height: 58px;

  padding: 13px 38px;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: var(--light-text-color);

  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--light-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.inner {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 71px;
  background-color: var(--secondary-color-2);
}
.page-footer__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--light-text-color);
}
.page-footer__sublist {
  margin-top: 30px;
}
.page-footer__subitem {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
}
.page-footer__icon {
  fill: #8ec2f2;
}
.page-footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
}
.page-footer__desc {
  width: 231px;
  margin: 25px auto 75px auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}
.socials-list {
  display: flex;
  justify-content: center;
}
.socials-list__item:not(:last-child) {
  margin-right: 20px;
}
