// Flex-basis(width): calc((100% - к-сть марджинів в рядку * значення марджину) / к-сть элементів в рядку);

body {
  font-family: var(--main-font);
  color: var(--text-color);
}
h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 420px) {
    width: 420px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1100px) {
    width: 1100px;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn {
  display: inline-block;
  padding: 10px 36px;
  min-height: 48px;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--secondary-color);

  border: 1px solid var(--secondary-color);
  border-radius: 37px;
  background-color: transparent;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-color: transparent;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    margin-left: auto;
    margin-right: auto;
  }
}
