:root {
  // ШРИФТ
  --main-font: 'Montserrat', sans-serif;

  // ПАЛІТРА КОЛЬОРІВ
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --primary-color: #ffa62b;
  --secondary-color: #00a0c1;
  --secondary-color-2: #16697a;
}
